<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .btn-margin {
            margin-right: 10px;
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(224, 224, 224);">
    <div class="container">
        <a class="navbar-brand" href="#">Products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products/create">Create Product</a>
                </li>
                <li class="nav-item">
                    <a id="allProductsLink" class="nav-link" href="/products">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Main Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <div class="row mb-5">
      <div class="col d-flex justify-content-center">
          <form method="post" th:action="@{/search/saveText}" th:object="${searchingObject}">
              <div class="row">
                  <div class="col">
                      <input id="searchInput" style="width: 200px;" class="form-control" th:field="${searchingObject.text}" placeholder="Search...">
                  </div>
                  <div class="col" style="width: 150px;">
                      <select id="typeSelect" class="form-select" th:field="${searchingObject.category}">
                          <option value="All">All</option>
                          <option value="Phone">Phone</option>
                          <option value="Laptop">Laptop</option>
                          <option value="Other">Other</option>
                      </select>
                  </div>
                  <div class="col">
                      <button id="searched" type="submit" class="btn btn-success">Search</button>
                  </div>
              </div>
          </form>
      </div>
    </div>

    <div class="row mb-1 justify-content-between">
        <div class="col-sm-2 mb-2 d-flex flex-column justify-content-center align-items-center">
            <label for="sortBySelect">Sort By</label>
            <select id="sortBySelect" class="form-select">
                <option value="Highest Price">Highest Price</option>
                <option value="Lowest Price">Lowest Price</option>
                <option value="Highest ID">Highest ID</option>
                <option value="Lowest ID">Lowest ID</option>
            </select>
        </div>
        <div class="col-sm-2 d-flex align-items-center" style="padding: 10px;">
            <div id="productCount"></div>
        </div>
    </div>
        
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Ram</th>
                <th>Storage</th>
                <th>Color</th>
                <th>Image</th>
                <th>Price</th>
                <th>Category</th>
                <th>Configure</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="@{${product.ram} + 'GB'}"></td>
                <td th:text="@{${product.storage} + 'GB'}"></td>
                <td th:text="${product.color}"></td>
                <td>
                    <img th:src="@{'/images/' + ${product.imageFile}}" alt="..." width="100">
                </td>
                <td th:text="@{${product.price} + 'TL'}"></td>
                <td th:text="${product.category}"></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                       th:href="@{/products/edit(id=${product.id})}">Edit</a>
                    <a class="btn btn-danger btn-sm"
                       th:href="@{/products/delete(id=${product.id})}"
                       onclick="return confirm('Are you sure you want to delete the item?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script> // Synchronizing typeSelect search parameter
    document.addEventListener("DOMContentLoaded", function () {
        
        var selectedType = localStorage.getItem('selectedType');

        if (selectedType && document.getElementById('typeSelect')) {
            document.getElementById('typeSelect').value = selectedType;
        }

        
        document.getElementById('typeSelect').addEventListener('change', function () {
            var selectedValue = this.value;
            localStorage.setItem('selectedType', selectedValue);
        });

        var allProductsLink = document.getElementById('allProductsLink');

        allProductsLink.addEventListener('click', function () {
            searchInput.value = '';
            localStorage.removeItem('selectedType');
        });

    });
</script>

<script> // Synchronizing search bar input value
    document.addEventListener("DOMContentLoaded", function () {

        var searchInputValue = localStorage.getItem('searchInputValue');

        var searchForm = document.querySelector('form');

        var searchButton = document.getElementById('searched');

        searchButton.addEventListener('click', function (event) {

            event.preventDefault();

            var searchInput = document.getElementById('searchInput');

            searchInputValue = searchInput.value;

            localStorage.setItem('searchInputValue', searchInputValue);

            searchForm.submit();
        });

        var allProductsLink = document.getElementById('allProductsLink');
        allProductsLink.addEventListener('click', function () {
            searchInput.value = '';
            localStorage.removeItem('searchInputValue');
        });

        var searchInput = document.getElementById('searchInput');
        searchInput.value = searchInputValue;
    });
</script>

<script> // Sorting the products
    document.addEventListener("DOMContentLoaded", function () {
        var selectElement = document.getElementById('sortBySelect');
        var tbody = document.querySelector('tbody');
        var rows = Array.from(tbody.querySelectorAll('tr'));

        selectElement.value = 'Highest Price';

        sortRows();

        selectElement.addEventListener('change', function () {
            sortRows();
        });

        function sortRows() {
            var selectedValue = selectElement.value;

            if (selectedValue === 'Highest Price') {
                rows.sort(function (a, b) {
                    return parseFloat(b.cells[7].innerText) - parseFloat(a.cells[7].innerText);
                });
            } else if (selectedValue === 'Lowest Price') {
                rows.sort(function (a, b) {
                    return parseFloat(a.cells[7].innerText) - parseFloat(b.cells[7].innerText);
                });
            } else if (selectedValue === 'Highest ID') {
                rows.sort(function (a, b) {
                    return parseInt(b.cells[0].innerText) - parseInt(a.cells[0].innerText);
                });
            } else if (selectedValue === 'Lowest ID') {
                rows.sort(function (a, b) {
                    return parseInt(a.cells[0].innerText) - parseInt(b.cells[0].innerText);
                });
            }

            rows.forEach(function (row) {
                tbody.appendChild(row);
            });
        }
    });
</script>

<script> // Product counter
    document.addEventListener("DOMContentLoaded", function () {
        var rowCount = document.querySelectorAll('tbody tr').length;
        var rowCountElement = document.getElementById('productCount');
        rowCountElement.textContent = "Product count: " + rowCount;
    });
</script>

<script> // If search bar is consist of blank characters, show a alert (For blank searching, not empty searching)
    document.getElementById("searched").addEventListener("click", function(event) {
        var text = document.querySelector('input[name="text"]').value;
        if(/^\s*$/.test(text)/*<- This finds that is the text consist of blanks?*/ && text){
        event.preventDefault();
        // alert("Search is blank!\n\nYou can view all products by clicking on the 'All Products' link on the top-right corner or you can just clear the search bar."); Alttaki yazının düzgün hali
        alert("The endeavor to locate pertinent information has been met with an absence of results, leaving the realm of inquiry in a state of vacancy!\n\nEmbark on a journey of effortless discovery! Behold the grandeur of our complete collection by gracefully tapping into the exquisite 'All Products' link, gracefully poised in the regal domain of the top-right corner.");
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>